@font-face {
    font-family: "Playfair Display";
    src: url(../assets/fonts/playfairdisplay-variablefont_wght-webfont.woff) format("woff"),
     url(../assets/fonts/playfairdisplay-variablefont_wght-webfont.woff2) format("woff2");
}

@font-face {
    font-family: "Playfair Display italic";
    src: url(../assets/fonts/playfairdisplay-italic-variablefont_wght-webfont.woff) format("woff"),
     url(../assets/fonts/playfairdisplay-italic-variablefont_wght-webfont.woff2) format("woff2");
     font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/montserrat-variablefont_wght-webfont.woff) format("woff"),
     url(../assets/fonts/montserrat-variablefont_wght-webfont.woff2) format("woff2");
}


@font-face {
    font-family: "Montserrat italic";
    src: url(../assets/fonts/montserrat-italic-variablefont_wght-webfont.woff) format("woff"),
     url(../assets/fonts/montserrat-italic-variablefont_wght-webfont.woff2) format("woff2");
     font-style: italic;
}

h1{
    font-family: Playfair Display;
}

h2{
    font-family: Montserrat;
}